*{
}

p.textThongBao {
    color: #e06767;
    font-size: 18px;
    padding: 10px;
}

.ngayThue {
    padding-bottom: 20px;
}


form {padding-bottom: 20px;}

div#rightTienDV {
    padding: 40px;
}

div#leftTienDV {padding: 20px;}

div#thongBao {
    margin-left: 0px;
    height: 500px;
}


.thanhvien {
    margin: 25px;
}

p.tongTien {
    text-align: center;
    font-size: 28px;
}

p.titleDichVu {
    font-size: 20px;
    font-weight: 600;
}
p.titleThongBao {
    font-size: 20px;
    font-weight: 600;
}



div#tienDichVu {
    border: 1px solid;
    border-radius: 5px;
    height: 500px;
}

div#thongBao {
    border: 1px solid;
    border-radius: 5px;
    overflow-y: scroll;
}

.info p{
    font-size: 18px;
}

p#nameRoom {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px
    
}

.listUser {
    font-size: 20px;
}

p#listUserTitle {
    font-size: 20px;
    font-weight: bold;
}

.formListUser {
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
}

a{
    color: #333333 !important;
    font-weight: 500;
    font-size: 18px
}

a:hover{
    opacity: 0.5;
    text-decoration: none !important;
    
}
